.App {
  text-align: center;
}
.CollectionApp{
  margin: 5;
}
.required {
  color: #ff0000;
  font-size: 13px;
}
.econsentmsg{
  text-align: left;
  color: #9A9A9A;
  font-size: 13px;
  margin: -10px 0 10px 0;
}
.heading-font {
  font-size: 1.35em;
}
.content-container.detailed-summary {
  padding-top: 0;
}
.detailed-summary td,
.summary td {
  border: 1px solid grey;
}
.summary td,
.detailed-summary td,
.table-row-page td {
  padding: 5px; 
}
.td-xsmall {
  width: 20px;
}
.td-link {
  display: block;
  cursor: pointer;
  pointer-events: none;
  color:#000;
}
.total .td-link {
  display: block;
  cursor: pointer;
  pointer-events: all;
  color:#007bff;
}

.combobox{
  height: 2px;
  padding: rem 1rem 1. rem0;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}
.logo-header {
  text-align: right;
  color: #1473a2;
  margin: 0;
  padding: rem 1rem 1.rem 0;
}
.welcome-msg {
  text-align: left;
  color: #1473a2;
  margin: 10px 10px 0 10px;
}
.photos-section {
  margin: 0 10px;
}
.logo_style {
  max-height: 63px;
  padding: 5px 0;
}

/* if english page hide english */
.es .es,
.en .en {
  display: none;
}

/* if root is .en apply inline-block .es */ 
.en .es,
.es .en {
  display: inline-block;
}

body {
  background-color: #f0f3f8;
}
.App-header {
  background-color: #0b46bb;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(44, 89, 187);
}

.App-link {
  color: #61dafb;
}

.column {
  float: left;
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainContainer {
  padding: 0;
  padding-top: 70px;
  margin: 10px 20px 0;
}

.mainContainer .form {
  padding: 0;
}

.mainContainer .formContainer {
  height: auto;
}

.line {
  color: #0b46bb;
}

.BasicDetails {
  text-align: left;
  color: #1473a2;
  margin: 0;
  padding: 10px 0 15px;
  border-bottom: 1px solid #48a5ea;
}

.PhotosHeading {
  padding: 15px 0;
}

.MuiAutocomplete-inputRoot .MuiAutocomplete-input {
  padding: 0 !important;
}

.form {
  padding: 5rem 0;
}

.formContainer {
  display: flex;
  justify-content: space-between;
  padding:00px;
  height: 90vh;
}
#dropdown-basic,
.MuiOutlinedInput-root,
.form-control {
  border-radius: 0 !important;
}

.leftArea {
  width: 100%;
  padding: 0px 0px;
  margin:10px;
}

.leftArea,
.rightArea {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.leftArea > div > p,
.rightArea > div > p {
  color: #5e5e5e;
  text-align: left;
  margin: 10px 0 5px;
}

.rightArea {
  width: 1%;
}

#dropdown-basic {
  background-color: transparent;
  border: 0.5px solid #939393;
  color: #000;
  width: 100%;
  text-align: left;
  height: calc(1.5em + .75rem + 2px);
}

#dropdown-basic::after {
  color: #000;
}

.dropdown-menu {
  width: 100%;
}

.uploadPictures {
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.uploadPictures .up-title {
  padding: 0 0 15px;
}
.uploadPictures .up-image {
  
}
.uploadPictures .up-info {
  
}

.input-file::-webkit-file-upload-button {
  visibility: hidden;
}
.input-file::before {
  content: "+";
  display: inline-block;
  /* background: linear-gradient(top, #f9f9f9, #e3e3e3); */
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 8pt;
}
.input-file:hover::before {
  border-color: black;
}
.input-file:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.input-file {
  display: none;
}

.image-input-label {
  display: inline-flex !important;
  border: 1px solid #48a5ea;
  padding: 40px 60px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  width: 300px !important;
  height: 300px !important;
  background: #1473a2;
  color: #fff;
  box-shadow: 2px 5px 7px #ccc; 
}

imageUploadTable {
  table-layout: auto;
  width: 50%;
  border-collapse: collapse;
  border: 0px solid #dadada;
  
}
/* Evaluation page css */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #dadada;
  width: 100%;
}

.noevaltable {
  table-layout: fixed;
  align-items: center;
  border-collapse: collapse;
  border: 4px solid #081ee4;
  width: 100%;
}
.noevaltr {
  border-bottom: 0px solid grey;
}


.evaltable {
  table-layout: fixed;
  align-items: center;
  border-collapse: collapse;
  border: 4px solid #1e08e4;
  width: 100%;
}
.evaltr {
  border-bottom: 0px solid grey;
}
th,
td {
  padding: 20px;
}

.table-row-page {
  cursor: pointer;
}

.table-row-page-active {
  border: 3px solid blue;
}

th {
  background-color: #1473a2;
  color: white;
  border-right: 1px solid #ffffff;
}

.main-th {
  border-bottom: 1px solid #ffffff;
}

th:last-of-type {
  border-right: none;
}

tr {
  border-bottom: 1px solid grey;
}
.content-container {
  width: 100%;
  margin: 0 auto;
  padding: 70px 30px 30px;
}
.table-scroll {
  height: 700px;
  overflow-y: scroll;
}
.total {
  font-weight: 700;
}
.details-details-container {
  padding: 20px;
}

.details-page-container {
  width: 100%;
}

.details-image-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.details-image-container > img {
  width: 300px;
  height: 170px;
}

.details-user-container {
  display: flex;
  align-items: center;
}

.details-user-container > img {
  width: 120px;
}

.details-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details-user-user {
  display: flex;
  align-items: center;
}

.teeth-image-container {
  display: flex;
  justify-content: space-around;
}
.image-container {
  width: 15%;
  border: solid 1px #ccc;
  padding: 4px;
} 
.image-container label {
  background: #1473a2;
  color: #fff;
  padding: 5px 10px;
  width: 100%;
}
.image-container > img {
  width: 100%;
}
.teeth-image-container > img {
  width: 13%;
}

#dropdown-basic::after {
  position: absolute;
  top: 50%;
  right: 15px;
}

.image-placeholder {
  width: 300px;
  height: auto;
  position: relative;
  margin: 0 0 15px;
  box-shadow: 2px 5px 7px #ccc;
}

.image-info-container {
  display: flex;
  justify-content: center;
}

.image-info-container > p {
  margin: 10px 20px;
}

.inputs-container {
  display: flex;
  justify-content: center;
  margin: 10px;

}

.inputs-container > label {
  padding-right: 10px;
}
.SubmitButton {
  padding: 20px;
  background-color: #1473a2;
  color: #fff;
  box-shadow: 2px 5px 7px #ccc;
  border: 0;
  margin: 20px;
}
.SubmitButton:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.images-data > img{
  margin: 5px;
}
.helpSupport-heading {
  padding: 7px 7px 15px 0;
  border-bottom: solid 1px #1473a2;
  text-align: left;
  margin: 7px 20px 15px;
  color: #1473a2;
}
.helpSupport-heading + p {
  color: #007bff;
  margin: 7px 20px 15px;
  text-align: left;
}
.help-items {
  margin: 7px 20px 15px;
  text-align: left;
}
/* Hamburger menu styles */
#menuToggle
{
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  background: #1473a2;
  height: 40px;
  width: 44px;
  padding: 8px 0 0 5px;
  left: 10px;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  cursor: pointer;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #1473a2;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #fff;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  /* transform: rotate(45deg) translate(-2px, -1px); */
  transform: rotate(45deg) translate(6px, -4px);
  background: #fff;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(3px, 7px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#d-menu {
  margin: 5px 0 0 19px;
  padding: 0 20px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  display: inline-flex;
  cursor: pointer;
  justify-content: space-evenly;
}
#d-menu li a {
  color: #000 !important;
  padding: 0 0 0 10px;
}
#d-menu li a:hover {
  color: #007bff !important;
  text-decoration: none !important;
}
#menu
{
  position: absolute;
  width: 220px;
  margin: 5px 0 0 19px;
  padding: 0 20px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  background: #FFF;
  box-shadow: 1px 2px 4px #000;
  visibility: none;
  display: inline-block;
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  border-bottom: solid 1px #1473a2;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: translate(-100%, 0);
}

.desktop {
  display: flex;
}
.mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
  }
}