.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: #f0f3f8;
}
.App-header {
  background-color: #0b46bb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(44, 89, 187);
}

.App-link {
  color: #61dafb;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainContainer {
  padding: 20px 150px;
}

@media (max-width: 768px) {
  .mainContainer {
    padding: 50px;
  }
}

.line {
  color: #0b46bb;
}

.BasicDetails {
  text-align: left;
  color: #2a8bf2;
  margin: 0;
  padding: 1.5rem 1rem 1.5rem 0;
  border-bottom: 1px solid #48a5ea;
}

.form {
  padding: 3rem 0;
}

.formContainer {
  display: flex;
  justify-content: space-between;
  height: 45vh;
}

.leftArea {
  width: 40%;
}

.leftArea,
.rightArea {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.leftArea > div > p,
.rightArea > div > p {
  color: #9a9a9a;
  text-align: left;
  margin: 0;
}

.rightArea {
  width: 40%;
}

#dropdown-basic {
  background-color: transparent;
  border: 0.5px solid #939393;
  color: #000;
  width: 100%;
  text-align: left;
}

#dropdown-basic::after {
  color: #000;
}

.dropdown-menu {
  width: 100%;
}

.uploadPictures {
  padding: 50px 0;
  display: flex;
  justify-content: space-around;
}

.input-file::-webkit-file-upload-button {
  visibility: hidden;
}
.input-file::before {
  content: "+";
  display: inline-block;
  /* background: linear-gradient(top, #f9f9f9, #e3e3e3); */
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.input-file:hover::before {
  border-color: black;
}
.input-file:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.input-file {
  display: none;
}

.image-input-label {
  border: 1px solid #48a5ea;
  padding: 40px 60px;
  font-size: 40px;
  font-weight: 800;
  cursor: pointer;
}

/* Evaluation page css */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #dadada;
  width: 100%;
}

th,
td {
  padding: 20px;
}

.table-row-page {
  cursor: pointer;
}

.table-row-page-active {
  border: 2px solid blue;
}

th {
  background-color: #2a8bf2;
  color: white;
  border-right: 1px solid #ffffff;
}

th:last-of-type {
  border-right: none;
}

tr {
  border-bottom: 1px solid grey;
}
.content-container {
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}

.details-details-container {
  padding: 20px;
}

.details-page-container {
  width: 100%;
}

.details-image-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.details-image-container > img {
  width: 300px;
  height: 170px;
}

.details-user-container {
  display: flex;
  align-items: center;
}

.details-user-container > img {
  width: 120px;
}

.details-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details-user-user {
  display: flex;
  align-items: center;
}

.teeth-image-container {
  display: flex;
  justify-content: space-around;
}

.teeth-image-container > img {
  width: 13%;
}

#dropdown-basic::after {
  position: absolute;
  top: 50%;
  right: 15px;
}

.image-placeholder {
  width: 70%;
  height: 150px;
}

.image-info-container {
  display: flex;
  justify-content: center;
}

.image-info-container > p {
  margin: 10px 20px;
}

.inputs-container {
  display: flex;
  justify-content: center;
  margin: 10px;

}

.inputs-container > label {
  padding-right: 10px;
}

.SubmitButton:disabled{
  cursor: not-allowed;
}

.images-data > img{
  margin: 5px;
}